body{

background-color: rgb(5, 149, 82);
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }


.sidebar img{
   
   padding-top:20px;
   padding-right: 20px;
   height:65px;
   width:210px;
}
.sidebar div:nth-child(1){
   padding-top: 30px;
   color:rgb(45, 192, 0);
   font-size: 38px;
   padding-bottom: 30px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding-left:10px;
   font-weight: 900;
}
.sidebar div:nth-child(2){
   color:rgb(153, 153, 153);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    font-size: 18px;
}
.sidebar div:nth-child(3){
color:rgb(153, 153, 153);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    font-size: 18px;
}
.sidebar div:nth-child(4){
    color:rgb(153, 153, 153);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    font-size: 18px;
}


.sidebar div:nth-child(7){
    color:rgb(153, 153, 153);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    font-size: 18px;
}
.sidebar div:nth-child(6){
    color:rgb(153, 153, 153);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    font-size: 18px;
}

.sidebar div:nth-child(12){
    color:rgb(153, 153, 153);
    padding-left:25px;
    margin:10px;
    font-size: 13px;
    border-radius: 5px;  
}

.sidebar{
    z-index: 3;
  width:250px;
  margin:-8px;
  position: fixed;
  background-color: black;
  height: 152.0rem;
  }
.info {
    position: absolute;
    top:15%;
    left:42%;
}
.cate{
    display: flex;
        justify-content: space-between;
    }
.info div:nth-child(1){
    font-size: 110px;
    
    
}
.info div:nth-child(2){
    font-size: 17px;
  padding-left:20px;
  padding-top:-60px;
} 

.mainbar1{
   position: absolute;
   color:rgb(255, 255, 255);
   left:21%;
   top:10%;
  }
 
.back{
   top:0%;
   left:19%;
   width:1110px;
}


.work{
   position: absolute;
   left:18%;
   padding:21px;
   top:55%;
   height:110%;
   width:78.90%;
   background-image:linear-gradient(to right,rgba(5, 149, 82, 0.733),black);
}
.hie{
    color:white;
}
.hie:hover{
   transform: scale(1.1);
}

.stuff{
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: left;
}

.btn{
   color:white;
   outline:none;
   font-size: 12px;
   border:1px solid grey;
   border-radius: 4px;
   letter-spacing: 1px;;
   background-color:rgba(255, 255, 0, 0);
   padding:8px;
   font-weight: 900;
}


.btn:hover{
   border:1px solid white;
   border-radius: 4px;
}
.song{
   display: grid;
grid-template-columns: repeat(7,0fr);
justify-content: stretch;
  gap:30px;
   padding-top:20px;
   padding-left:20px;
   align-items: center;
}

.progressbar{
   width:200px;
   height:5px;
   border-radius: 100px;
   background-color:rgba(133, 132, 132, 0.507);
}
.progress{
   position: relative;
   width:0%;
   height:5px;
   border-radius: 100px;
   background-color:rgb(251, 251, 251);
}
.progress:hover{
    background-color:green;
}
.fa-pause-circle{
    color:green;
}

.progress:hover:after{
   content: "";
   position:absolute;
   border-radius: 10px;
   right:-10px;
   top:-3.70px;
   width:12px;
   height:12px;
   background-color:green;    
}

.play:after{
   color:green;
   opacity:100;
   box-shadow: 0px 0px 20px 5px black;
}

.play:hover{
  content: "";
   opacity: 100;
   color:green;
   transform: scale(1.1);
}

.mainbar{
   position: absolute;
   left:0%;
   top:100%;
   padding-left:20px;
  
   }
   
   .sub1{
     padding-top:20px;
       display: grid;
       padding-left:2px;
       grid-template-columns: repeat(5,0fr);
   gap:10px;
       
   }
   .artist{
       width:160px;
       border-radius:50%;
       padding-left: 7px;;
   }
   .collection{
       width:175px;
       border-radius: 5px;
       padding:15px;
       
       height:260px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       background-image:linear-gradient(to bottom,rgb(41, 40, 40),rgb(24, 24, 24));
   }
   .fa-heart{color:rgb(206, 12, 12);}
   .collection:hover{
   
       background-image: linear-gradient(rgb(26, 26, 26),yellow);
   color:black;
   }
   a:link{
      color:inherit;
       text-decoration: none;
   }
   
   a:visited{
       color:inherit;
       text-decoration: none;
   }
   
   a:active{
       color:inherit;
       text-decoration: none;
   }
   .charts{
       
       padding-top: 20px;;
       padding-left:2px;
       }
   
   .chartsimage{
       padding-left: 8px;;
   }
   
   
   
   
   
   
   
   
   









